Xft.dpi: 141
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter
Xcursor.size: 34

URxvt*imLocale: en_GB.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:UbuntuMono Nerd Font:size=13, \
            xft:Inconsolata Nerd Font Mono:size=13, \
            xft:DejaVuSansMono Nerd Font:size=13, \
            xft:DroidSansMono Nerd Font:size=13, \
            xft:FuraMono Nerd Font:size=13, \
            xft:RobotoMono Nerd Font:size=13, \
            xft:Noto Sans Mono:size=13, \
            xft:Monospace:style=Medium:size=13   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
!URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
!URxvt.colorUL: #4682B4
!!! url-select
!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
!URxvt.url-select.underline: true
!!! keyboard-select:
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!!! resize-font
!URxvt.resize-font.smaller: C-j
!URxvt.resize-font.bigger:  C-k
!!! Matcher
!URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
!URxvt.matcher.button: 1
!!!clipboard
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!
!
!! Nord palette
!!! COLORS
!
!! special
!URxvt*foreground:   #D8DEE9
!URxvt*background:   [90]#2E3440
!URxvt*cursorColor:  #D8DEE9
!URxvt*borderColor:  [90]#2E3440
!
!
!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD
!
!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3
!
!*.color0: nord1
!*color0: nord1
!*.color1: nord11
!*color1: nord11
!*.color2: nord14
!*color2: nord14
!*.color3: nord13
!*color3: nord13
!*.color4: nord9
!*color4: nord9
!*.color5: nord15
!*color5: nord15
!*.color6: nord8
!*color6: nord8
!*.color7: nord5
!*color7: nord5
!*.color8: nord3
!*color8: nord3
!*.color9: nord11
!*color9: nord11
!*.color10: nord14
!*color10: nord14
!*.color11: nord13
!*color11: nord13
!*.color12: nord9
!*color12: nord9
!*.color13: nord15
!*color13: nord15
!*.color14: nord7
!*color14: nord7
!*.color15: nord6
!*color15: nord6
!
